body{
    margin:0;
    box-sizing: none;
    font-family: 'Inter', sans-serif;
    background-color: #E0C9A6;
}

#root{
    margin: 0 auto;
    max-width: 750px;
}

nav{
    display: flex;
    flex-direction: row;
    margin:5px 50px;
    align-items: center;    
    justify-content: space-between;
}
nav img{
    width: 32px;
}

.letter{
    border: solid 20px black;
    margin:10px auto;
    padding:10px;
    max-width: 500px;
    height: 500px;
    background-color: #F5EFE6;

      border-image:   linear-gradient(to right, #D54457 25%, #2E5089 25%, #D54457 50%,#2E5089 50%, #D54457 75%, #2E5089 75%) 5;
    /* #D54457 #2E5089*/
}

form{
    margin:20px 50px;
}

.form--label{
    margin-right:30px;
}

.form--input{
    margin:10px;
    padding: 4px;
    font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: .25rem;
}

.form--textarea{
    margin:10px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
}

.btn{
    color: #fff;
    font-size: 18px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    padding:5px;
    width: 75px;
    margin:25px 5px;
    border: 1px solid transparent;
}

input[type="file"]{
        margin:5px;
}